:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
}

/* --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-white-color: #f5f4fa;
 */

body {
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------- CONTAINER--------- */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  outline: 2px solid tomato;
}

/* ------------------HEADER-------- */

.header-conteaner {
  display: flex;
  align-items: center;
  outline: 2px solid tomato;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
  text-decoration: none;
  margin-right: 93px;
}
.web {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus,
.header-nav:hover,
.header-nav:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}
.header-list-nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  outline: 2px solid tomato;
}
.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-decoration: none;
}
.header-nav,
.header-nav-1 {
  margin-right: 50px;
}
.header-contacts {
  margin-right: 50px;
}

.header-nav-1,
.header-nav-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
}

.header-connect {
  margin-left: auto;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

/* ------------HERO------------ */

.head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: var(--primary-text-color);
  max-width: 696px;
  margin-bottom: 30px;
}

.head-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  outline: 2px solid tomato;
}
.head-btn:hover {
  background: #188ce8;
}
.head-btn-cnop {
  text-align: center;
  outline: 2px solid tomato;
}
.head-container {
  outline: 2px solid tomato;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 280px 0;
}
/* -------------ОСОБЕННОСТИ------------ */
/* .container-2 {
  margin-top: 94px;
} */
.advantage-block {
  padding-top: 94px;
}
.advantage-block:not(:last-child) {
  margin-right: 30px;
}
.advantages-container {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
}

.h3-advantages {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.about-advantages {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  max-width: 270px;
}

/* -----------ЧЕМ мы ЗАНИМАЕМСЯ-------- */

.main-info {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-top: 94px;
}
.main-info-2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-top: 94px;
  padding-top: 188px;
}
.main-info-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.main-info-container-img:not(:last-child) {
  margin-right: 30px;
}
/* .main-info-container-img {
  max-width: 370px;
} */
/* -----КАРТОЧКИ ЛЮДЕЙ=------- */
.section-team {
  background: #f5f4fa;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  color: var(--header-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ++++++++++++++FOOTER++++++++++ */
.footer {
  background-color: var(--primary-text-color);
}
.logo-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}
.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* =========CLASS PORTFOLIO========== */
.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  cursor: pointer;
}
.filter-button-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--accent-color);
  cursor: pointer;
}
.list-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.list-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
